<p>This is where we create a new user</p>
<div class="jumbotron">
  <div class="panel panel-primary">
    <div class= "panel-heading"> Create New User</div>
  <div class="panel-body">
  <form>
    <div class="input-group">
  <input type="text" class="form-control" id="firstName" placeholder="Employee's First Name" aria-describedby="basic-addon2">
  <br>
  <input type="text" class="form-control" id="lastName" placeholder="Employee's Last Name" aria-describedby="basic-addon2">
</div>
<br>
<div clas="row">
</div>
  </form>
</div>
</div>
</div>
<a href="#/about"><button type="button" class="btn btn-primary" ng-click="submit()" >Submit</button></a>
