<p>This is where you submit a timecard.</p>
<div class="jumbotron">
  <div class="panel panel-primary">
    <div class= "panel-heading"> TimeCard</div>
  <div class="panel-body">
  <form>
    <div class="input-group">
  <input type="text" class="form-control" id="userId" placeholder="Enter User ID" aria-describedby="basic-addon2">
</div>
<br>
<div clas="row">
<div class="input-group">
  <input type="text" class="form-control" id="startTime" placeholder="Start Time" aria-describedby="basic-addon2">
  <br>
  <input type="text" class="form-control" id="endTime" ng-model="endTime"placeholder="End Time" aria-describedby="basic-addon2">

</div>
</div>
  </form>
</div>
</div>
</div>
<a href="#/about"><button type="button" class="btn btn-primary" ng-click="submit()" >Submit</button></a>
